html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: 500;
    color: #DADADA;
    margin-bottom: 5px;
}

.input {
    font-size: 16px;
    padding: 15px;
    border: 1px solid #303030;
    color: #303030;
    border-radius: 10px;
    background-color: #DADADA;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    flex: 1; 
    height: 100%; 
}

.error {
    color: #F4989E;
    border: 3px solid #F4989E;
}

.errorMessage {
    font-size: 14px;
    font-weight: 700;
    color: #F4989E;
    margin-top: 5px;
}

.input:disabled {
    background-color: #A0A0A0;
    cursor: not-allowed;
}
