.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #505050; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden; 
    background-color: #303030;
}

.info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 50px; 
    width: 60%;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}