.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.noContacts {
  font-size: 18px;
  color: #bbbbbb;
  padding: 20px;
  background-color: #303030;
  border-radius: 10px;
  height: 100%;
}